DATABASE_URL=mssql+pyodbc://user:password@host:port/database_name?driver=ODBC+Driver+17+for+SQL+Server
AUTH_SECRET_KEY=YOUR_SECRET_KEY
AZURE_CLIENT_ID=YOUR_AZURE_CLIENT_ID
AZURE_TENANT_ID=YOUR_AZURE_TENANT_ID